
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container>* {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); /*sombra*/
    border-radius: 4px; /*borde de las cajas*/
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: antiquewhite;
}

.navbar {
    grid-area: navbar;
    background-color: aqua;
}

.main {
    grid-area: main;
    background-color: aquamarine;
}

.sidebar {
    grid-area: sidebar;
    background-color: beige;
}

.footer {
    grid-area: footer;
    background-color: blanchedalmond;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template:
        "header" 100px
        "navbar" 50px
        "main" auto
        "sidebar" 100px
        "footer" 100px;
}

/* PC, la media query funcionara cuando llegue a mas de 600 pxse cambiara el fondo a azul*/

@media (min-width: 1024px) {
    .grid-container {
        grid-template:
            "header header header" 100px
            "navbar main sidebar" auto
            "footer footer footer" 100px / 200px auto 200px;
    }
}


/* Responsive para tableta, la media query funcionara cuando llegue a mas de 600 pxse cambiara el fondo a azul*/
@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 200px auto 1fr 1fr;
        grid-template-rows: 100px 50px auto 100px;
        grid-template:
            "header  header" 100px
            "navbar  navbar" 50px
            "sidebar main" auto
            "footer footer" 100px /200px auto;
    }
}

